
:root {

        --fs-large: 2rem;
        --fs-medium: 1.25rem;
    
}


*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    
}

/* Container */


.section-container {
    max-width: 700px;
    text-align: left;
    padding: 3rem 4rem;
}

/* Body */

.nav {
    padding-bottom: 0;
}

.main{
    margin-top: 0;
}
.main--message{
    font-size: var(--fs-large);
}

.main--contact {
    padding-top: 3rem;
    font-size: var(--fs-medium);
}

.highlight {
    color: #0967d2;
}

.background {
    font-size: 1rem;
}