
/* General Styling */

:root {

        --fs-large: 2rem;
        --fs-medium: 1.25rem;

        --clr-light: #0967d2;
}


* {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    
}

.highlight {
    color: var(--clr-light);
}

/* Container */


.section-container {
    max-width: 700px;
    text-align: left;
    padding: 3rem 4rem;
}

@media(min-width: 675px) {
    .section-container {
        max-width: 1000px;
    }
}

/* Nav */

.nav {
    padding-bottom: 0;
}

/* Main */

.main--message{
    font-size: var(--fs-large);
}

.main--contact {
    padding-top: 1rem;
    font-size: var(--fs-medium);
}

/* Background */


.background {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

.background--resume {
    text-decoration: none;
    color: var(--clr-light);
    padding-top: 1rem;
    font-weight: 500;
}

/* Skills */

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3rem;
}

.icon {
    margin: 1rem 0;
}

.icon:hover {
    color: var(--clr-light);
}

/* Projects */

.projects {
    padding-top: 0;
}

.link--out {
    text-decoration: none;
    color: black;
}


/* Footer */

.footer {
    max-width: 700px;
    text-align: left;
    padding: 3rem 4rem;
    display: flex;
    padding-top: 0;

}

.footer h3{
    margin-right: 30%;
}


.footer--links {
    list-style-type: none;
    display: flex;
}

.footer--links li {
    margin: 0.5em 0 0 2em;
    margin-left: 40%;
}

.footer--links a {
    color: var(--clr-light);
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 3rem;
        
    }

    .footer h3 {
        margin: 0;
    }

    .footer--links li {
        margin: 0.5em 0 0 2.2em;
    }
 
}